.DS_Store
venv
.env
*/.env
.idea/*
db.sqlite3
.hg/*
*.pyc
*.orig
*venv/*
*/migrations/0*
venv/*
*__pycacgit bhe__/*
.vscode
.log
*/.log
*/.DS_Store
/media/
/node_modules/
/static/
*.log
local_settings.py
.pytest_cache
.coverage
/logs/
env/*
wb3.egg-info/
*/node_modules
*/*/node_modules
*.rdb

__pycache__/
*/.idea
.idea
*.db
celery*